<div class="card">
  <h2 class="title" [ngStyle]="{
  color: this.card.title.length > 15 ? 'red' : 'brown'
  }">{{card.title}}</h2>

  <div class="flex">
    <p>{{card.text}}</p>
    <p>{{getInfo()}}</p>

    <div class="img">
      <img [src]="resultImg">
    </div>
  </div>
  <button [disabled]="disabled">
    Button
  </button>
  <button (click)="changeTitle()">Change title</button>

  <div>
    <input type="text" [(ngModel)]="card.title"/>
  </div>
  <strong>{{cardDate | date:'dd.MM.yyyy HH:mm'}}</strong>
</div>
