
.card {
  padding: .5rem 1rem;
  border: 1px dashed darkcyan;
  margin-bottom: 1rem;
  h2 {
    margin-bottom: .5rem;
    color: darkcyan;
    font-size: 46px;
  }

  p {
    font-size: 14px;
  }
}


.img {
  width: 100px;
  position: absolute;
  right: 20px;
  top: 20px;
}


